@model Scratch.Web.Models.Admin.AboutViewModel

@{
    ViewBag.Title = "About";

    Layout = "~/Views/Shared/_WebsiteAdminLayout.cshtml";
}

<h3>Thanks to:</h3>
<ul>
    <li>ASP.Net MVC</li>
    <li>The C# language</li>
    <li>SQL Server</li>
    <li>Apache Cassandra</li>
    <li>jQuery</li>
    <li>Yusuke Kamiyamane for the superb <a href="http://p.yusukekamiyamane.com/">Fugue Icons</a></li>
</ul>