@model Scratch.Web.Models.Admin.AboutViewModel

@{
    ViewBag.Title = "About";

    Layout = "~/Views/Shared/_WebsiteAdminLayout.cshtml";
}

<h3>Thanks to:</h3>
<ul>
    <li>Microsoft ASP.Net MVC, the C# language, and SQL Server</li>
    <li>Apache Cassandra</li>
    <li>jQuery</li>
    <li>Yusuke Kamiyamane for the superb <a href="http://p.yusukekamiyamane.com/">Fugue Icons</a></li>
</ul>

<div><a href="#" class="icon plus">Add Item</a></div>
<div><a href="#" class="icon minus">Delete Item</a></div>
<div><a href="#" class="icon toggle-plus">Show Details</a></div>
<div><a href="#" class="icon toggle-minus">Hide Details</a></div>
<div><a href="#" class="icon arrow-right">Return to List</a></div>
<div><a href="#" class="icon arrow-up">Go Up a Level</a></div>
<div><a href="#" class="icon arrow-left">Go Down a Level</a></div>
<div><a href="#" class="icon arrow-down">Next</a></div>
<div class="message icon bang">This is a warning or error message.</div>
<div class="message icon info">This is a message with some information.</div>
<div class="message icon check">This is a success message.</div>

<div><span class="icon bang">This is a warning or error message (subdued).</span></div>
<div><span class="icon info">This is a message with some information (subdued).</span></div>
<div><span class="icon check">This is a success message (subdued).</span></div>

<div><a href="#" class="icon toggle-more empty" title="Expand"></a></div>
<div><a href="#" class="icon toggle-less empty" title="Collapse"></a></div>
<div><a href="#" class="icon x empty" title="Close"></a></div>
<div><a href="#" class="icon help empty" title="Need help?"></a></div>
