@using System.Linq;

@model Scratch.Web.Models.Settings.SettingsBase

@switch (Model.Messages.Count)
{
    case 0:
        <p>Loading...</p>
        break;
    case 1:
        <p>@Model.Messages.First()</p>
        break;
    default:
        <ul>
            @foreach (var message in Model.Messages)
            {
                <li>
                    <p>@message</p>
                </li>
            }
        </ul>
        break;
}