@model Scratch.Web.Models.Settings.CacheSettings

@{
    Layout = "~/Views/Settings/_Settings.cshtml";
}

@section Form
{
<form>
    <!--
    <section>
        <h2>Legend Text</h2>
        <div class="field">
            <label>Label</label>
            <input type="text" value="Text input..." />
        </div>
        <div class="field">
            <label>Label</label>
            <input type="text" value="Text input..." disabled="disabled" />
        </div>
    </section>
    -->
    <div>
        <input class="save" type="button" value="Save" />
        <input class="cancel" type="reset" value="Cancel" />
    </div>
</form>
}
