@model Scratch.Web.Models.Settings.EmailSettings

@{
    Layout = "~/Views/Settings/_Settings.cshtml";
}

@section Form
{
<form>
    <div>[FORM]</div>
    <div>
        <input class="save" type="button" value="Save" />
        <input class="cancel" type="reset" value="Cancel" />
    </div>
</form>
}