@using Scratch.Web.Models.Settings

@model IndexViewModel

@{
    ViewBag.Title = "Website Settings";
    
    Layout = "~/Views/Shared/_WebsiteAdminLayout.cshtml";
}

@section Head
{
    <link href="/Content/settings.css" rel="stylesheet" type="text/css" />
}

<table>
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var settings in Model.Settings)
    {
        var settingsType = settings.GetType();

        if (settingsType == typeof (DatabaseSettingsViewModel))
        {
            <tr data-url="@Url.Action("Database", "Settings")">
                @Html.Partial("Database", (DatabaseSettingsViewModel)settings)
            </tr>
        }
        else if (settingsType == typeof(GenericSettingsViewModel))
        {
            <tr data-url="@Url.Action("Generic", "Settings")">
                @Html.Partial("Generic", (GenericSettingsViewModel)settings)
            </tr>
        }
    }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $("tbody > tr").each(function() {

                var tr = $(this),
                    url = tr.attr("data-url"),
                    setBehavior = function() {
                        var edit = tr.find("a.edit"),
                            hide = tr.find("a.hide"),
                            form = tr.find("form"),
                            save = tr.find("input.save");

                        edit.click(function() {
                            edit.hide();
                            hide.show();
                            form.show();
                            return false;
                        });

                        save.click(function () {
                            tr.find("div.actions").html('<img src="/Content/i_loading.gif" alt="loading..." />');
                            form.hide();
                            $.post(url, form.serialize(), function(html) {
                                tr.html(html);
                                setBehavior();
                            });
                        });

                        hide.click(function() {
                            form.hide();
                            hide.hide();
                            edit.show();
                            return false;
                        });
                    };

                setBehavior();
            });
        });
    </script>
}
