@using Scratch.Web.Models

@model PageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[TITLE]</title>

    <!-- BEGIN FILLER STYLES -->
    <style type="text/css">
        body {
            background: #dddddd;
            margin: 0;
        }

        #container {
            width: 800px;
            background: #eeeeee;
            padding: 10px;
            margin: 0 auto;
        }

            #container p {
                font: 13px Verdana;
            }
    </style>
    <!-- END FILLER STYLES -->
@if (Model.ShowToolbar)
{
    <link href="~/Content/toolbar.css" rel="stylesheet" type="text/css" />
}
</head>
<body>

    <!-- BEGIN FILLER CONTENT -->
    <div id="container">
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
        <p>Bacon ipsum dolor amet flank tenderloin turducken cupim, ground round meatball tri-tip chuck spare ribs beef ribs bresaola sausage beef. Chuck turducken leberkas pig doner tongue short loin picanha. Boudin beef pork chop, doner venison cow tail bacon. Shankle short loin ribeye, cow short ribs venison rump. Strip steak sirloin salami tenderloin, jerky corned beef filet mignon biltong pastrami turducken. Tongue biltong sirloin filet mignon doner, rump alcatra corned beef beef ribs boudin. Shoulder landjaeger kevin, beef ribs brisket swine fatback chicken doner prosciutto.</p>
        <p>Pork loin short ribs brisket doner ball tip, pork belly hamburger spare ribs picanha jowl strip steak ham flank cupim. Rump jerky beef ribs doner. Drumstick frankfurter short ribs pig, kielbasa short loin strip steak pork chop. Meatball swine tail ball tip tongue biltong pork loin picanha turkey sausage andouille filet mignon.</p>
        <p>Cupim landjaeger ball tip, turkey bresaola ham filet mignon. Fatback rump bacon jerky. Pancetta t-bone cow salami flank. T-bone strip steak tenderloin jerky rump pastrami shankle chuck hamburger, fatback boudin kevin meatball. Beef ribs fatback pastrami, flank kevin pork andouille filet mignon pancetta kielbasa shoulder meatball bresaola cow. Capicola alcatra chuck bacon, shankle spare ribs pork loin flank t-bone pastrami short ribs short loin biltong ribeye venison. Sausage bresaola beef, landjaeger kevin rump pancetta chicken sirloin porchetta.</p>
    </div>
    <!-- END FILLER CONTENT -->

@if (Model.ShowToolbar)
{
    @Html.Partial("_Toolbar", Model)
}
</body>
</html>
