td.andon {
    height: 16px;
    width: 16px;
}

td.name {
    font-weight: bold;
}

div.actions {
    width: 16px;
}

a.hide {
    display: none;
}

td.status-message {
    width: 100%;
}

td.status-message p {
    margin: 0 0 10px 0;
}

td.status-message ul {
    margin: 0;
    padding: 0 0 10px 12px;
}

form {
    display: none;
}