/***** website admin *****/

body.website-admin #container {
    margin: 0 100px;
    font: 13px monospace;
}

body.website-admin a {
    color: #0077dd;
    text-decoration: none;
}

body.website-admin a:hover {
    color: #0088ff;
    text-decoration: underline;
}

/***** icons *****/

.icon {
    background: transparent none no-repeat 0 0;
    padding: 1px 0 0 22px;
    line-height: 16px;
}

.icon.empty {
    padding: 1px 0 0 16px;
}

.icon.plus {
    background-image: url('fugue/plus-white.png');
}

.icon.minus {
    background-image: url('fugue/minus-white.png');
}

.icon.toggle-more {
    background-image: url('fugue/chevron-expand.png');
}

.icon.toggle-less {
    background-image: url('fugue/chevron.png');
}

.icon.toggle-plus {
    background-image: url('fugue/toggle-expand.png');
}

.icon.toggle-minus {
    background-image: url('fugue/toggle.png');
}

.icon.x {
    background-image: url('fugue/cross-white.png');
}

.icon.bang {
    background-image: url('fugue/exclamation-white.png');
}

.icon.info {
    background-image: url('fugue/information-white.png');
}

.icon.help {
    background-image: url('fugue/question-white.png');
}

.icon.check {
    background-image: url('fugue/tick-white.png');
}

.icon.arrow-right {
    background-image: url('fugue/navigation-000-white.png');
}

.icon.arrow-up {
    background-image: url('fugue/navigation-090-white.png');
}

.icon.arrow-left {
    background-image: url('fugue/navigation-180-white.png');
}

.icon.arrow-down {
    background-image: url('fugue/navigation-270-white.png');
}

.icon.pencil {
    background-image: url('fugue/pencil.png');
}

/***** Messages *****/
.message {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 25px;
    background-position: 5px;
}

.message.bang {
    border-color: #ff0000;
    background-color: #ffeeee;
}

.message.info {
    border-color: #0088ff;
    background-color: #eef8ff;
}

.message.check {
    border-color: #00aa66;
    background-color: #eefff8;
}

.message.icon.bang {
    background-image: url('fugue/exclamation-red.png');
}

.message.icon.info {
    background-image: url('fugue/information.png');
}

.message.icon.check {
    background-image: url('fugue/tick-circle.png');
}

/***** toolbar *****/

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px #888888 solid;
    border-right: 1px #888888 solid;
    background: #ffffff;
    font: 13px monospace;
    display: table;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

#toolbar ul.menu,
#toolbar-pane {
    display: table-cell;
    margin: 0;
    padding: 0;
    border-left: 1px #e0e0e0 solid;
}

#toolbar-pane form {
    padding: 0 20px 20px 0;
}

#toolbar ul.menu li {
    list-style: none;
}

#toolbar ul.menu a {
    display: block;
    height: 20px;
    padding: 10px 10px 6px 10px;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    position: relative;
}

#toolbar ul.menu a.active,
#toolbar ul.menu a:hover {
    background: #f8f8f8;
    border-top: 1px #ededed solid;
    border-bottom: 1px #e8e8e8 solid;
}

#toolbar ul.menu img {
    margin: 0 0 -4px 0;
}

#toolbar ul.menu span {
    display: none;
    position: absolute; 
    z-index: 2; 
    width: 200px; 
    left: 36px; 
    height: 38px; 
    top: -1px; 
    line-height: 38px;
    padding-left: 5px;
    border-left: 1px #e0e0e0 solid;
    background: #000000;
    color: #ffffff;
    opacity: .75;
}

#toolbar ul.menu a:hover span {
    color: #000000;
    opacity: 1;
    background: #f8f8f8;
    border-left: 1px #f8f8f8 solid;
    border-top: 1px #ededed solid;
    border-bottom: 1px #d8d8d8 solid;
    border-right: 1px #d8d8d8 solid;
    left: 36px;
    height: 36px;
    line-height: 36px;
    top: -1px;
}

/***** table *****/

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

th {
    border-bottom: 1px #888888 solid;
}

td {
    border-bottom: 1px #e0e0e0 solid;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 10px 10px 10px 0;
}

/***** form *****/

form section {
    margin: 0 0 15px 0;
    border: 1px #e0e0e0 solid;
    border-top: 1px #e8e8e8 solid;
    border-bottom: 1px #e8e8e8 solid;
    padding: 0 0 15px 0;
    border-radius: 15px;
}

form h2 {
    margin: 0;
    padding: 15px 15px 8px 15px;
}

form section p {
    padding: 20px 0 0 15px;
}

form dl,
form div.field {
    padding: 0 15px;
    margin: 0;
}

form dt,
form label {
    display: block;
    margin-bottom: 5px;
}

form div.field,
form dt {
    margin-top: 15px;
}

form dd {
    margin-bottom: 15px;
}

form dt:after,
form label:after {
    content: ":";
}

form div.checkbox {
    display: table;
}

form div.checkbox label,
form div.checkbox input[type=checkbox] {
    display: table-cell;
    vertical-align: middle;
}

form div.checkbox label {
    padding-left: 5px;
}

form div.checkbox label:after {
    content: "";
}

form input[type=button],
form input[type=submit],
button {
    font: inherit;
    cursor: pointer;
}

form input[type=text],
form textarea,
form dd {
    font: inherit;
    margin: 0;
    display: block;
    border: 1px #b0b0b0 solid;
    min-height: 20px;
    padding: 3px 10px;
    line-height: 22px;
    width: 98%;
    overflow: hidden;
}

form textarea {
    height: 115px;
}

form input[disabled=disabled],
form dd {
    background-color: #f0f0f0;
    color: #888888;
}