body { font:12px monospace; background: #eee; }
div, p { width:300px; text-align:center; margin:0 auto 5px auto; }
table { width:300px; }
td { text-align:left; width:50%; }
td.label { text-align:right; font-weight:bold; }
#universe { border:1px #bbb solid; cursor:crosshair; }
#buttons { display:inline; padding:0; }
#buttons li { display:inline; }
#buttons li canvas { padding:4px; }
#buttons li.selected canvas { cursor:default; background:#fff; }
#buttons li canvas:hover,
#buttons li.selected canvas { border:1px #bbb solid; padding:3px; cursor:pointer; }